body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    display: flex;
    font-size: 15px;
}

#left{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    margin: 20px 5px 20px 5px;
    padding: 20px, 20px;
}



#menu {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

#signin {
    border-radius: 5%;
    color: white;
    background-color: rgb(73, 135, 236);
    width: 70px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    border: none;
}
 

 #logo{
    height: 92px;
    width: 272px;
 }

 

 #submit, #lucky{
    width: 200px;
    height: 30px;
    color: rgb(70, 67, 67);
    background-color: rgb(242, 242, 242);
    font-size: 15px;
    padding: 2px;
    border: none;
    border-radius: 5px;
 }